.blog-row {
    justify-content: space-between;
    row-gap: 2rem;
}

@media only screen and (max-width: 992px) {
    .title {
        text-align: center;
    }
    .blog-row {
        justify-content: center;
        gap: 2rem;
    }
}

.blog {
    width: 262px;
    text-decoration: none;
    color: #1f1f1f;
    border: 2px solid #e2e2e2;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s box-shadow ease-in-out;
}

.blog img {
    max-height: 127px;
}


.blog:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog .sub-text {
    height: 100px;
    color: rgb(102, 102, 102);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}