.blog-row {
    justify-content: space-between;
    row-gap: 2rem;
}

.blog {
    text-decoration: none;
    color: #1f1f1f;
    border: 2px solid #e2e2e2;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.1s box-shadow ease-in-out;
    display: flex;
    gap: 1rem;
}

.blog img {
    max-width: 327px;
}

.blog .blog-content {
    display: flex;
    flex-direction: column;
}

.blog .blog-content .read-more {
    color:#3d70d8
}

.blog .blog-content .read-more:hover {
    text-decoration: underline;
}


.blog:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.blog .sub-text {
    height: 100px;
    color: rgb(102, 102, 102);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

@media only screen and (max-width: 992px) {
    .title {
        text-align: center;
    }
    .blog-row {
        justify-content: center;
        gap: 2rem;
    }

    .blog img {
        max-width: 250px;
        height: auto;
    }

    .blog .sub-text {
        height: 52px;
        -webkit-line-clamp: 2;
    }
}

@media only screen and (max-width: 768px) {
    .blog img {
        max-width: 250px;
        height: 170px;
    }

    .blog .sub-text {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 580px) {
    .blog {
        flex-direction: column;
        max-width: 270px;
    }
}