$primary-color: #1288ca; /*#28668D*/
$secondary-color: #1e3463;
$third-color: #2e4780;
$dark-color: #231f20;
$dark-grey-color: #d1d1d4;
$grey-color: #f9fafb;
$color: #fff;
$sky-color: #eaf9f8;
$background-color: #1288ca;

$footer-bg-color: #f5f8fb;
$footer-text-color: rgba(68, 74, 77, 0.7);
$footer-heading-text-color: #122e45;
$button-blue-color: #6b79ef;
$button-green-color: #2dc787;
$heading-color: #122e45;
$subheading-color: #444a4d;
$section-blue-bg-color: #6b79ef;
